.cw{
    color:#fff;
}
.mm{
    margin-top: 20px;
    margin-bottom: 0;
}
.pl{
    padding-left: 45px;
}
.pr{
    padding-right: 40px;
}
.dropdowncolor{
    position: relative;
    display: inline-block;
    margin-top: -41px;
    margin-left: 10px;
    margin-right: 50px;
}
.ddcommon ul{
    padding: 0;
    margin: 0;
}   
.dd .ddChild{
    border: 1px solid #c3c3c3;
    background-color: #fff;
    left: 47px!important;
    width: 59px!important;
}    
#color_child{
    z-index: 9999;
    display: block;
    position: absolute;
    visibility: visible;
    height: 150px!important;
    overflow-y: auto!important;
    top: -164px;
}